<div class="modal fade" id="clientCreateModal" role="dialog">
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Create Client</h4>
			</div>
			<div class="modal-body">
				<form action="/client" method="POST" id="createClientForm">
					<div class="form-group">
						<label for="name">Name <span class="text-danger">*</span></label>
						<input type="text" class="form-control" id="name"
							placeholder="Enter client Name" name="name" required="required" />
					</div>
					<div class="form-group">
						<label for="sel1">Active</label> <select class="form-control"
							id="sel1" name="active">
							<option value="true">YES</option>
							<option value="false">NO</option>
						</select>
					</div>
					<button type="button" class="btn btn-default" data-dismiss="modal" id="createClient">Submit</button>
				</form>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="updateCreateModal" role="dialog">
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Create Client</h4>
			</div>
			<div class="modal-body">
				<form action="/client" method="POST" id="updateClientForm">
					<input type="hidden" id="update-id" name="id" />
					<div class="form-group">
						<label for="name">Name <span class="text-danger">*</span></label>
						<input type="text" class="form-control" id="update-name"
							placeholder="Enter client Name" name="name" required="required" />
					</div>
					<div class="form-group">
						<label for="active">Active</label> <select class="form-control"
							name="active" id="update-active">
							<option value="true">YES</option>
							<option value="false">NO</option>
						</select>
					</div>
					<button type="button" class="btn btn-default" data-dismiss="modal" id="updateClient">Update</button>
				</form>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="deleteCreateModal" role="dialog">
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Delete Client Confirmation</h4>
			</div>
			<div class="modal-body">
				<form action="/client" method="DELETE" id="deleteClientForm">
					<input type="hidden" id="delete-id" name="id" />
					<div class="form-group">
						Do you want to delete <span class="text-danger" id="delete-name"></span>
					</div>
					<button type="button" class="btn btn-default" data-dismiss="modal" id="deleteClient">Delete</button>
				</form>
			</div>
		</div>
	</div>
</div>